<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insulin.netural.medico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Destination" />
        <activity android:name=".activity_before" />
        <activity android:name=".HealthTips" />
        <activity android:name=".During" />
        <activity android:name=".Food" />
        <activity android:name=".Beverages" />
        <activity android:name=".Insects" />
        <activity android:name=".Personal_Kit" />
        <activity android:name=".Vacination" />
        <activity android:name=".Vacination_Peru" />
        <activity android:name=".CommonDiseases" />
        <activity android:name=".Durante" />
        <activity android:name=".Bring_Human"></activity>
    </application>

</manifest>